* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font: 13px/27px Roboto, Arial, sans-serif;
}


#header {
    height: 25px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

a {
    text-decoration: none;
    text-decoration: ;
    color: rgb(82, 82, 82);
}

a:hover {
    text-decoration: underline;
}

#logogoogle {
    width: 375px;
}

.navbar {
    height: 100%;
    width: 206px;
    border: 5px;
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-between;
    margin-right: 10px;

}

.conteneur2 {
    padding-top: 100px;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.element3 img {
    width: 13px;
    height: 30px;
}

.conteneur2 img {
    margin: 20px;
}

.element5 {
    width: 100%;
}

.buttonsearch {
    position: relative;
    height: 100%;
    width: auto;
}

input {
    width: 600px;
    height: 40px;
    margin: 4px;
    box-sizing: border-box;
    padding-left: 60px;
    border-radius: 50px;
    border: 1px solid #dfe1e5;
}

.logomicro {
    height: 50%;
    width: 17px;
    position: absolute;
    right: 55px;
    top: -20px;
    padding: 10px;
}

.logoloupe {
    position: absolute;
    left: -10px;
    top: -20px;
    padding: 10px;
    display: flex;

}

#buttons {
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.element8 {
    margin: 15px;
}

.element9 {
    border-bottom: 1px rgb(167, 163, 163) solid;
    background-color: rgb(241, 239, 239);
    margin-top: 15px;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.element10 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-between;
    width: 32%;
    padding-left: 10px;
}

.element11 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.element12 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-around;
    width: 37%;

}

.element13 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 0px grey solid;
    background-color: rgb(241, 239, 239);
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0px 0px 3px rgb(255, 255, 255);
}


footer {
    padding-top: 241px;
}